streamlit
groq
requests
better_profanity
pymongo
python-dotenv
langchain 
langchain_ollama
selenium
webdriver-manager
beautifulsoup4
lxml 
html5lib
pillow
streamlit_option_menu
streamlit_cookies_manager
